<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.board.model.dao.BoardDao">
	
	<!-- 영상 아이디의 리뷰 전부 조회 -->
	<select id="selectAll" parameterType="int"  resultType="board">
		SELECT *
		FROM review
		WHERE video_id = #{videoId}
	</select>
	
	<!-- 상세 리뷰 조회 -->
	<select id="selectOne"  resultType="board" parameterType="int">
		SELECT * FROM review
		WHERE review_id = #{reviewId};
	</select>
	
	<!-- 게시글 등록 -->
	<!-- keyProperty="id" useGeneratedKeys="true"-->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO REVIEW (user_id, video_id, review_content, review_writer,review_title)
		VALUES (#{userId}, #{videoId}, #{reviewContent},#{reviewWriter}, #{reviewTitle});
	</insert>
	
	<select id="getUserId" resultType="String" parameterType="int">
		SELECT user_Id
		FROM review
		WHERE review_id = #{reviewId};
	
	</select>
	
	
	
	
<!-- 트랜잭션 테스트를 위한 임시 코드  	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (id, title, writer, content)
		VALUES (#{id}, #{title}, #{writer}, #{content});
	</insert> -->

	<!-- 게시글 삭제  -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM review
		WHERE review_id = #{reviewId};
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE review
		SET review_viewCount = review_viewCount+1
		WHERE review_id = #{reviewId};
	</update>
	
	<!-- 게시글 수정 -->
	<!-- 만약에 날짜가 수정날짜 였다면 같이 수정해줘야된다. -->
	
	<update id="updateBoard" parameterType="Board">
		UPDATE review
		SET review_content = #{reviewContent}, review_writer = #{reviewWriter}, review_title = #{reviewTitle}
		WHERE review_id = #{reviewId};
	</update>
	
	
	
	<!-- 검색기능 -->
	<select id="search"  resultType="board" parameterType="SearchCondition">
		SELECT id, content, writer, title, view_cnt, date_format(reg_date, '%y-%m-%d') AS reg_date 
		FROM board
		<!-- 동적쿼리(검색 조건) -->
		<if test="key != null">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<!-- 동적쿼리(정렬 조건) -->
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>	
			
	</select>
	
	
	<insert id="insertFile" parameterType="Board">
		INSERT INTO files (file_id, file_name, board_id)
		VALUES (#{fileId},#{fileName},#{id})
	
	</insert>
	
	
	
	
	
</mapper>