<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.board.model.dao.WorldcupDao">

	<select id="selectAll" resultType="Worldcup">
		SELECT *
		FROM worldcup
	</select>

    <select id="findByUserIdAndWorldcupId" parameterType="map" resultType="Participation">
        SELECT * FROM Participation 
        WHERE user_id = #{u_id} AND worldcup_id = #{w_id}
    </select>

    <insert id="insertParticipation" parameterType="Participation">
        INSERT INTO Participation (user_id, worldcup_id, participation_count)
        VALUES (#{userId}, #{worldcupId}, #{participationCount})
    </insert>

    <update id="updateParticipationCount" parameterType="map">
        UPDATE Participation SET participation_count = participation_count + 1
        WHERE user_id = #{u_id} AND worldcup_id = #{w_id}
    </update>

	<select id="getWorldcup" parameterType="int" resultType="Worldcup">
		SELECT *
		FROM worldcup
		WHERE id = #{id}
	</select>
	
	<select id="getAllElements" parameterType="String" resultType="Elements">
		SELECT *
		FROM elements
		WHERE sub_category = #{categori}
	</select>
	
	
	<select id="findRank" parameterType="map" resultType="Rank">
        SELECT * FROM `rank`
        WHERE worldcup_id = #{w_id} AND ele_id = #{e_id}
    </select>

    <update id="updateRank" parameterType="map">
        UPDATE `rank`
        SET point = point + 1
        WHERE worldcup_id = #{w_id} AND ele_id = #{e_id}
    </update>

    <insert id="insertRank" parameterType="map">
        INSERT INTO `rank` (worldcup_id, ele_id, point)
        VALUES (#{w_id}, #{e_id}, 1)
    </insert>

</mapper>